<div style="transform: rotate(90deg);">
    <table class="table" >
        <thead>
            <tr>
                <th>Hola 1</th>
                <th>Hola 2</th>
                <th>Hola 3</th>
                <th>Hola 4</th>
                <th>Hola 5</th>
                <th>Hola 6</th>
                <th>Hola 7</th>
                <th>Hola 8</th>
                <th>Hola 9</th>
                <th>Hola 10</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
            </tr>
            <tr>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
            </tr>
            <tr>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
            </tr>
            <tr>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
            </tr>
            <tr>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
            </tr>
            <tr>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
            </tr>
            <tr>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
            </tr>
            <tr>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
            </tr>
            <tr>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
            </tr>
            <tr>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
            </tr>
            <tr>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
            </tr>
            <tr>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
            </tr>
            <tr>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
            </tr>
            <tr>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
            </tr>
            <tr>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
            </tr>
            <tr>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
            </tr>
            <tr>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
            </tr>
            <tr>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
                <td>AAAAAAAAAAAA</td>
            </tr>
            <tr>
                <td>bbbbbb</td>
                <td>bbbbb</td>
                <td>bbbbb</td>
                <td>bbbbbbbb</td>
                <td>bbbbb</td>
                <td>bbbb</td>
                <td>bbbbb</td>
                <td>bbbb</td>
                <td>bbbbb</td>
                <td>bbbbbb</td>
            </tr>
          
          
    
         
        
        </tbody>
    </table>
</div>